// Colors
$black: #464349;
$white: #FFF;
$yellow: #FFD04C;
$orange: #FF9556;
$purple-1: #7F02EF;
$purple-2: #5D46D5;
$blue-1: #6034D3;
$blue-2: #4C63D7;
$gray-light: #FAFAFE;
$gray-light-1: #EAEEF4;
$gray-light-2: #E2E5F1;
$gray-light-3: #DAD8DE;
$gray-dark-1: #98969B;
$gray-dark-2: #817E84;

// Media queries breakpoints
$tablet-land: 64em;
$tablet-port: 61.875em;
$phone: 37.5em;