.header {
  padding: 2rem 0;
  position: relative;

  @media only screen and (max-width: $phone) {
    padding: 1.5rem 0;
  }

  &__row {
    @include flexBetween-center;
  }

  &__logo-box {
    max-width: 1.75rem;
  }

  &__nav {
    @include flexBetween-center;

    @media only screen and (max-width: $tablet-port) {
      display: none;
    }

  }

  &__list {
    color: $white;
    font-size: 0.75rem;

    @include dmMono-regular;
    @include flexBetween-center;


    &:nth-child(1) {
      margin-right: 10rem;
      
      @media only screen and (max-width: 71.25em) {
        margin-right: 3rem;
      }

    }

  }

  &__item {
    @include textUpper;

    &:not(:last-child) {
      margin-right: 2rem;
    }

  }

  &__decor {
    position: absolute;
      right: 0;
      top: 0;
    transform: translate(320px, -180px);
    z-index: -1;

    @media only screen and (max-width: $phone) {
      display: none;
    }

  }

}